<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" #username>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" #password>
        </mat-form-field>
      </p>

      <div class="button">
        <button (click)="login(username.value, password.value)" mat-button>Login</button>
      </div>
  </mat-card-content>
</mat-card>
