:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  text-align : center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  width: 100px!important;
  min-width: unset!important;
}

.login-buttons{
  justify-content: center;
}

