<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="column">
      <mat-form-field>
        <input #username matInput placeholder="Username" type="text">
      </mat-form-field>

      <mat-form-field>
        <input #password matInput placeholder="Password" type="password">
      </mat-form-field>

      <div class="button">
        <button (click)="login(username.value, password.value)" mat-button>Login</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
