<label class="file-upload">
  <input type="file" (change)="fileEvent($event)" name="imageUpload" id="imageUpload"/>
  Subir imagen
</label>

<div fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="Nombres" [(ngModel)]="firstName" type="text">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]="lastName" type="text">
  </mat-form-field>


  <div class="button">
    <button (click)="updateProfile()" mat-button>Login
    </button>
  </div>
</div>
