<div id="root-container">
  <mat-toolbar color="primary">
    <div>
<!--      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>-->
      <a mat-button routerLink="/home">
        <span>Nut34Life</span>
      </a>
    </div>
    <div class="bar-menu">
      <ngx-avatar size="40" [matMenuTriggerFor]="account" [src]="avatar" [name]="name"></ngx-avatar>
      <mat-menu #account="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/account/edit-profile">Editar Perfil</button>
        <button mat-menu-item routerLink="/account/edit-account">Cambiar Contraseña</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container autosize hasBackdrop="false">
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
<!--    <mat-sidenav #myPatients position="end">
      <app-clients [toggle]="myPatients.toggle()"></app-clients>
    </mat-sidenav>-->
  </mat-sidenav-container>
</div>
