.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.recipe-body {
  margin: 25px 5vw;
}

.recipe-dashboard {
  display: flex;
}

.recipe-table {
  width: 100%;
  padding: 10px;
}

table.mat-table {
  width: 100%;
  border-spacing: 0 10px;
  background: transparent;
  tr {
    background-color: #ffffff;
  }
}

.mat-column-image {
  width: 60px;
}
