<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="recipe.image">
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>Alcanza: {{recipe.servings}} porciones</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="dish-content" fxLayout.gt-xs="row" fxLayout="column">
      <div class="ingredients" fxLayout="column" fxFlex.gt-xs="25">
        <h4>Ingredientes</h4>
        <ul>
          <li class="tuple" *ngFor="let ing of recipe.ingredients">
            <span>{{ing.food.name}}</span>
            <span>{{ing.quantity}}g.</span>
          </li>
        </ul>
      </div>
      <div class="directions" fxLayout="column" fxFlex.gt-xs="45">
        <h4>Procedimiento</h4>
        <ol>
          <li *ngFor="let step of recipe.steps">{{step.instruction}}</li>
        </ol>
      </div>
      <div class="information" fxLayout="column" fxFlex.gt-xs="30">
        <h4>Informacion Nutricional</h4>
        <ul>
          <li class="tuple">
            <span class="fact">Valor energetico</span>
            <span>{{recipe.nutrFact.energeticValue}} kcal</span>

          <li class="tuple">
            <span class="fact">Grasas totales</span>
            <span>{{recipe.nutrFact.totalFat}} g.</span>
          </li>

          <li class="tuple">
            <span class="fact">Grasas saturadas</span>
            <span>{{recipe.nutrFact.saturatedFats}} g</span>
          </li>

          <li class="tuple">
            <span class="fact">Carbohidratos</span>
            <span>{{recipe.nutrFact.carbohydrates}} g</span>
          </li>

          <li class="tuple">
            <span class="fact">Azucare</span>
            <span>{{recipe.nutrFact.sugars}} g</span>
          </li>

          <li class="tuple">
            <span class="fact">Proteinas</span>
            <span>{{recipe.nutrFact.protein}} g</span>
          </li>

          <li class="tuple">
            <span class="fact">Sal</span>
            <span>{{recipe.nutrFact.salt}} g</span>
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
