.patient-table {
  padding: 10px;
}

.menu-toolbar {
  display: flex;
  justify-content: space-between;
}

table.mat-table {
  width: 100%;
  border-spacing: 0 10px;
  background: transparent;
  tr {
    background-color: #ffffff;
  }
}
.mat-column-select {
  width: 50px;
}

.mat-column-avatar {
  width: 100px;
}
