<div class="view-body">
  <div class="menu-toolbar">
    <h1>Pacientes</h1>
<!--    <button mat-mini-fab (click)="affiliatePatient()">-->
<!--      <mat-icon>add</mat-icon>-->
<!--    </button>-->
  </div>
  <div class="patient-table">
<!--    <mat-form-field>-->
<!--      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar">-->
<!--    </mat-form-field>-->

    <table [dataSource]="patients" mat-table matSort>

      <ng-container matColumnDef="avatar">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Paciente</th>
        <td *matCellDef="let element" mat-cell>
          <ngx-avatar [src]="element.image" size="35"></ngx-avatar>
        </td>
      </ng-container>


      <ng-container matColumnDef="firstName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nombres</th>
        <td *matCellDef="let element" mat-cell> {{element.firstName}} </td>
      </ng-container>


      <ng-container matColumnDef="lastName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Apellidos</th>
        <td *matCellDef="let element" mat-cell> {{element.lastName}} </td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell>Correo electronico</th>
        <td *matCellDef="let element" mat-cell> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element" mat-cell>
          <div *ngIf="element.nutritionistId != nutritionistId; else affiliated" >
            <button mat-icon-button (click)="requestAffiliation(element)">
              <mat-icon>person_add</mat-icon>
            </button>
          </div>
          <ng-template #affiliated >
            <button mat-icon-button disabled>
              <mat-icon>check_circle</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="columns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: columns;" mat-row></tr>
    </table>
    <mat-paginator [length]="resultLength" pageSize="20" [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
