<div class="formPatientCreate">
  <div class="wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Registrar nuevo paciente</mat-card-title>
        <mat-card-subtitle>Generar cuenta de usuario</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div fxLayout="column">
          <mat-form-field>
            <input [(ngModel)]="username" matInput placeholder="Username" type="text">
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="password" matInput placeholder="Password" type="password">
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="email" matInput placeholder="Email" type="email">
          </mat-form-field>
          <mat-form-field>
            <input [(ngModel)]="firstName" matInput placeholder="Nombres" type="text">
          </mat-form-field>
          <mat-form-field>
            <input [(ngModel)]="lastName" matInput placeholder="Apellidos" type="text">
          </mat-form-field>
          <mat-form-field>
            <input [(ngModel)]="weight" matInput placeholder="Peso" type="number">
          </mat-form-field>
          <mat-form-field>
            <input [(ngModel)]="height" matInput placeholder="Altura" type="number">
          </mat-form-field>
        </div>
        <mat-card-actions align="end">
          <button mat-raised-button routerLink="/patients">Cancelar</button>
          <button color="primary" mat-raised-button (click)="registrarPaciente()">Crear</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>