<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="image">
    <mat-card-title>Nombre de la receta</mat-card-title>
    <mat-card-subtitle>Detalles de la receta?</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div class="ingredients" fxLayout="column" fxFlex="25">
        <h4>Ingredientes</h4>
        <ul>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
        </ul>
      </div>
      <div class="directions" fxLayout="column" fxFlex="45">
        <h4>Procedimiento</h4>
        <ol>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
        </ol>
      </div>
      <div class="information" fxLayout="column" fxFlex="30">
        <h4>Informacion Nutricional</h4>
        <ul>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
          <li>asdffsd</li>
        </ul>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Button</button>
  </mat-card-actions>
</mat-card>
