<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="recipe.image">
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>Alcanza: {{recipe.servings}} porciones</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div class="ingredients" fxLayout="column" fxFlex="25">
        <h4>Ingredientes</h4>
        <ul>
          <li *ngFor="let ing of recipe.ingredients">{{ing.food.name}}</li>
        </ul>
      </div>
      <div class="directions" fxLayout="column" fxFlex="45">
        <h4>Procedimiento</h4>
        <ol>
          <li *ngFor="let step of recipe.steps">{{step.instruction}}</li>
        </ol>
      </div>
      <div class="information" fxLayout="column" fxFlex="30">
        <h4>Informacion Nutricional</h4>
        <ul>
          <li>Test</li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
