<div class="content">
  <div class="title">
    <h2>Nutr34Life</h2>
    <mat-divider></mat-divider>
  </div>

  <div class="container">
    <div class="grid-wrapper">
      <a mat-button routerLink="/patients"
         class="grid-box box-patients">
        <span>Pacientes</span>
      </a>
      <a mat-button routerLink="/diets"
         class="grid-box box-diets">
        <span>Dietas</span>
      </a>
      <a mat-button routerLink="/recipes"
         class="grid-box box-recipes">
        <span>Recetas</span>
      </a>
      <a mat-button routerLink="/foods"
         class="grid-box box-foods">
        <span>Alimentos</span>
      </a>
      <a mat-button routerLink="/account"
         class="grid-box box-account">
        <span>Cuenta</span>
      </a>
      <a mat-button routerLink="#"
         class="grid-box">
        <span>Algo ...</span>
      </a>
    </div>
  </div>
</div>
