mat-card {
  margin-top: 40px;
  width: 700px;
  min-height: 600px;
}
.wrapper {
  display: flex;
  justify-content: center;
}

textarea {
  height: 150px;
}
.food-list {
  padding: 10px;
  max-height: 400px;
}
.ingredient {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.quantity-input {
  width: 20px;
}
