<div class="container">
  <h2>Agregar Receta</h2>
  <form>
    <div class="group">
      <input [(ngModel)]="recipeData.name" required type="text"/>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Name</label>
    </div>
    <div class="group">
      <input [(ngModel)]="recipeData.servings" required type="text"/>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Servings</label>
    </div>
    <button (click)="addRecipe()" class="learn-more">
          <span class="circle">
            <span class="icon arrow"></span>
          </span>
      <span class="button-text">Agregar</span>
    </button>
  </form>
</div>
