<div fxLayout="column">

  <div fxLayout="column">
    <mat-form-field>
      <input #currentPassword matInput placeholder="Contraseña Actual" type="password">
    </mat-form-field>

    <mat-form-field>
      <input #newPassword matInput placeholder="Contraseña Nueva" type="password">
    </mat-form-field>
    <mat-form-field>
      <input #confirmPassword matInput placeholder="Confirmar Contraseña" type="password">
    </mat-form-field>

    <div class="button">
      <button (click)="changePassword(currentPassword.value,newPassword.value,confirmPassword.value)" mat-button>Login
      </button>
    </div>
  </div>
</div>
