<div id="root-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Nut34Life</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!--TODO: agregar opciones-->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!--TODO: agregar opciones-->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
