<div class="container">
    <h2>Agregar Alimento</h2>
    <form>
    <div class="group">
        <input  type="text" required   [(ngModel)]="foodData.name" />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
    </div>
    <button (click)="addFood()" class="learn-more">
        <span class="circle">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Agregar</span>
      </button>
      </form>
  </div>
  