.container{
  padding: 25px;
  display: flex;
}

.control-bar {
  padding: 15px;
  display: flex;
  align-items: center;
}

.day-column{
  width: 100%;
  min-width: 150px;
  h3 {
    text-align: center;
  }
}

.meal-wrapper{
  min-height: 60px;
  margin: 5px;
  padding: 10px;
  background: rgba(0, 36, 181, 0.57);
  border-radius: 5px;
  p {
    text-align: center;
    color: white;
    font-size: small;
  }
}

.selected-meal{
  background: #2425b5;
}

.meal-label {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

.fill-space {
  flex: 1 1 auto;
}

.drag-placeholder {
  background: #e6ebf1;
  border: dotted 3px #999;
  min-height: 30px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.side-drawer {
  background: #405061;
}

mat-drawer-container {
  height: calc(100% - 64px);
}
