.recipe-body {
  margin: 25px 5vw;
}

.recipe-dashboard {
  display: flex;
}

.recipe-table {
  padding: 10px;
}

table.mat-table {
  width: 100%;
  border-spacing: 0 10px;
  background: transparent;
  tr {
    background-color: #ffffff;
  }
}
.mat-column-select {
  width: 50px;
}

.mat-column-image {
  width: 100px;
}
