<div class="recipe-body">
  <h1>Recetas</h1>
  <div class="recipe-dashboard">
    <div class="recipe-table" fxFlex="60">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <ngx-avatar size="35" [src]="element.image" [round]="false"></ngx-avatar>
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Servings Column -->
        <ng-container matColumnDef="servings">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Porciones</th>
          <td mat-cell *matCellDef="let element"> {{element.servings}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Porciones</th>
          <td mat-cell *matCellDef="let element"> {{element.servings}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let recipe; columns: columns;"
            [class.example-expanded-row]="expandedElement === recipe"
            (click)="expandedElement = expandedElement === recipe ? null : recipe"></tr>
      </table>
      <mat-paginator [length]="recipes.length" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="expandedElement != null" fxFlex="40">
      <app-dish [recipe]="expandedElement"></app-dish>
    </div>
  </div>
</div>
