<div style="height: 100%">
  <mat-toolbar>
    <span>Crear dieta</span>
    <span class="fill-space"></span>
    <button mat-raised-button (click)="createDiet()">Guardar y Enviar Dieta</button>
  </mat-toolbar>
  <mat-drawer-container>

    <!-- Sidebar -->
    <mat-drawer position="start" opened mode="side">

      <div class="recipe-menu">
        <mat-form-field>
          <input #searchInput matInput placeholder="Buscar recceta" (keydown.enter)="loadRecipes(searchInput.value)">
          <button mat-button matSuffix mat-icon-button (click)="loadRecipes(searchInput.value)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-list>
          <mat-list-item *ngFor="let item of recipesList">
            <span>{{item.name}}</span>
            <span class="fill-space"></span>
            <button mat-button mat-icon-button (click)="addRecipe(item)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>

    </mat-drawer>
    <mat-drawer-content>

      <!-- Configuration forms -->
      <div class="control-bar">
        <div>
          <button mat-button [mat-menu-trigger-for]="mealMenu">
            <span>Seleccionar Turnos</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #mealMenu>
            <mat-selection-list #mealList (selectionChange)="toggleMeals($event)">
              <mat-list-option *ngFor="let meal of meals" [value]="meal" selected="true">
                {{meal.name}}
              </mat-list-option>
            </mat-selection-list>
          </mat-menu>
        </div>

        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="dietPlanner.fromDate" placeholder="Fecha de inicio"
                   required
                   (dateChange)="getDayNameList()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Paciente" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let patient of patients" [value]="patient.id">
                {{patient.firstName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <!-- Diet table -->
      <div class="schedule-table" cdkDropListGroup>
        <!--- Days columns -->
        <div class="day-column" *ngFor="let day of dietPlanner.schedule; index as i">
          <h3>{{dayList[i]}}</h3>

          <!-- Meal Rows -->
          <div class="meal-wrapper" *ngFor="let mealSch of day"
               (click)="selectMeal(mealSch)"
               [ngClass]="{'selected-meal': selected == mealSch}"
               cdkDropList [cdkDropListData]="mealSch.detail"
               (cdkDropListDropped)="drop($event)">
            <p class="meal-label">{{mealSch.name.toUpperCase()}}</p>
            <div class="meal-list">

              <!-- Dish -->
              <div *ngFor="let detail of mealSch.detail; index as detailIndex" cdkDrag>
                <div class="drag-placeholder" *cdkDragPlaceholder></div>

                <div class="dish-card">
                  <a (click)="viewRecipeDetails(detail.recipe)">{{detail.recipe.name}}</a>
                  <button mat-icon-button (click)="removeRecipe(detailIndex, mealSch)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
</div>


